@{
 Layout = "./_Layout.cshtml";
}

@section head {
  @RenderSection("head", required: false)
}

<div class="row">
  <div class="col-md-4">
    <form method="POST">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @RenderSection("Inputs", required: true)
      <div class="form-group">
        @if (@Context.Request.Path.ToString().Contains("/Edit/",
            System.StringComparison.InvariantCultureIgnoreCase))
        {
          <input id="EditButton" type="submit" value="Edit" class="btn btn-danger"
              asp-page-handler="edit"
              asp-route-id="@Model.AbstractEntity.Id" >
        }
        else {
          bool isDisabled = false;
          if (@Context.Request.Path.ToString().StartsWith("/Article/Create",
            System.StringComparison.InvariantCultureIgnoreCase))
          {
            isDisabled = true;
            <strong><em><p>
              An article should be created in its corresponding
              <a href="/Film/ShowAll">film</a>
            </p></em></strong>
          }
          <input type="submit" value="Create" class="btn btn-danger"
              asp-page-handler="create" disabled="@isDisabled" />
        }
      </div>
    </form>
  </div>
</div>

<div>
    <a class="btn" asp-page="./ShowAll">Back to List</a>
</div>

@section SecondMain {
  @RenderSection("SecondMain", required: false)
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
