@{
  Layout = "./_Details.cshtml";
}

@section h2 {
  <p class="text-danger">@Model.DeleteErrorMessage</p>
  <h2>Are you sure you want to delete this?</h2>
}

@section Details{
  @RenderSection("Delete", required: true)
}

@section DeleteButton {
  <br />
  @{
    bool isDisabled = false;
    if (@Context.Request.Path.ToString().StartsWith("/Article/Delete",
      System.StringComparison.InvariantCultureIgnoreCase))
    {
      isDisabled = true;
      <strong><em><p>An article should not be deleted</p></em></strong>
    }
  }
  <form method="post">
    <input type="submit" value="Delete" class="btn btn-danger"
      asp-page-handler="delete" asp-route-id="@Model.AbstractEntity.Id"
      disabled="@isDisabled" />
  </form>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->

