@{
  Layout = "./_Layout.cshtml";
}

@if (!String.IsNullOrEmpty(Model.Message))
{
  <h3>Msg: @Html.Raw(Model.Message)</h3>
}

@RenderSection("h2", required: false)

<div>
  <dl class="row">

    <dt class="col-sm-2">
      Id
    </dt>
    <dd class="col-sm-10">
      @Model.AbstractEntity.Id
    </dd>

    @RenderSection("Details", required: true)

    <dt class="col-sm-2">
      Created Date
    </dt>
    <dd class="col-sm-10">
      @(TimeZoneInfo.ConvertTimeFromUtc(Model.AbstractEntity.CreatedDate,
        TimeZoneInfo.Local))
    </dd>

    <dt class="col-sm-2">
      Updated Date
    </dt>
    <dd class="col-sm-10">
      @(TimeZoneInfo.ConvertTimeFromUtc(Model.AbstractEntity.UpdatedDate,
        TimeZoneInfo.Local))
    </dd>

  </dl>
</div>
<div>
    <a class="btn" asp-page="./Edit" asp-route-id="@Model.AbstractEntity.Id">
      Edit
    </a>
    @if (!@Context.Request.Path.ToString().Contains("/Delete",
      System.StringComparison.InvariantCultureIgnoreCase))
    {
      <a class="btn" asp-page="./Delete" asp-route-id="@Model.AbstractEntity.Id">
        Delete
      </a>
    }
    <a class="btn" asp-page="./ShowAll">
      Back to List
    </a>
</div>

@RenderSection("DeleteButton", required: false)

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
