@{
  Layout = "./_Layout.cshtml";
}

@if (!String.IsNullOrEmpty(Model.Message))
{
<h3>Msg: @Html.Raw(Model.Message)</h3>
}

@RenderSection("h2", required: false)

<div>
  <dl class="row">

    <dt class="col-sm-2">
      Id
    </dt>
    <dd class="col-sm-10">
      @Model.AbstractEntity.Id
    </dd>

    @RenderSection("Details", required: true)

    <dt class="col-sm-2">
      Created Date
    </dt>
    <dd class="col-sm-10">
      @Model.AbstractEntity.CreatedDate
    </dd>

    <dt class="col-sm-2">
      Updated Date
    </dt>
    <dd class="col-sm-10">
      @Model.AbstractEntity.UpdatedDate
    </dd>

  </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AbstractEntity.Id">Edit</a> |
    <a asp-page="./ShowAll">Back to List</a>
</div>

@RenderSection("DeleteButton", required: false)

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
