<!-- Inspired from https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.1&tabs=netcore-cli  -->

@{
  Layout = "./_Layout.cshtml";
}

<h1>
  @ViewData["Title local"]
  @ViewData["Title"]
  @Model.Title
  @Model.AbstractEntity.Id
</h1>
<form method="post">
  <div asp-validation-summary="All"></div>

  @* Doesn't work:
   * Result error:
   * "An expression tree may not contain a dynamic operation"
   *
   * <input asp-for="@Model.AbstractEntity.Id" type="hidden" />
   *@

  @* Doesn't work:
   * See README.md
   *
   * @await Html.PartialAsync("./_EditPartial.cshtml",
   *  new ViewDataDictionary(ViewData) { { "id", Model.AbstractEntity.Id } })
   *@

  <div>
    @RenderSection("Inputs", required: true)
  </div>

  <div>
    <button type="submit">Save</button>
  </div>
</form>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
