@{
  Layout = "../_Layout.cshtml";
}

@section head {
  @RenderSection("head", required: false)
}

@if (@Context.Request.Path.ToString().StartsWith("/Article",
  System.StringComparison.InvariantCultureIgnoreCase))
{
  <strong><em>
      Create Articles in its correspondig Films
      See:
      <a asp-page="/Film/ShowAll">
        @("/Film")
      </a>
      <br />
      Borrow and return an article in Customer page
      <a asp-page="/Customer/ShowAll">
        @("/Customer")
      </a>
    </em></strong>
}

@RenderBody()

@if (!@Context.Request.Path.ToString().EndsWith("/Create",
  System.StringComparison.InvariantCultureIgnoreCase))
{
  <a class="btn" asp-page="./Create">Create New</a>
}

@section SecondMain {
  @RenderSection("SecondMain", required: false)
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
