<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- https://commons.wikimedia.org/wiki/File:Video-film.svg -->
    <link rel="icon" href="/images/Video-film.svg" />

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <meta name="DC.Title" content="Public Library" />
    <meta name="DC.Creator" content="https://github.com/JulioJu" />
    <!-- <meta name="DC.Subject" lang="en&#45;GB" content="" /> -->
    <!-- <meta name="DC.Description" lang="en&#45;GB" content="" /> -->
    <!-- <meta name="DC.Publisher" content=" " /> -->
    <meta name="DC.Date.created" scheme="W3CDTF" content="201810" />
    <!-- <meta name="DC.Date.modified" scheme="W3CDTF" content="20160228" /> -->
    <meta name="DC.Language" scheme="RFC3066" content="en-GB" />
    <meta name="DC.Rights" content="MIT" />

    <title>Video Library | @ViewData["Title"]</title>

    @RenderSection("head", required: false)

    <link rel="stylesheet" href="/styles/styles.css" />

  </head>
  <body>

    <main id="first-main">
      <nav id="navbar">
        <ul>
          <li>  <a asp-page="/Customer/ShowAll"> Customers  </a>  </li>
          <li>  <a asp-page="/Article/ShowAll">  Articles   </a>  </li>
          <li>  <a asp-page="/Film/ShowAll">     Film       </a>  </li>
        </ul>
      </nav>
      <h1> @ViewData["h1"] </h1>
      <hr />
      @RenderBody()
    </main>

    @RenderSection("SecondMain", required: false)

  </body>
</html>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
