@using Videotheque.Data
@model Film

<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.Title)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.Title)
</dd>
<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.Price)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.Price)
</dd>
<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.ReleaseDate)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.ReleaseDate)
</dd>
<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.DirectedBy)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.DirectedBy)
</dd>
<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.GenreStyle)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.GenreStyle)
</dd>

<dt>
@Html.DisplayNameFor(model => model.Articles)
</dt>
<dd>
<table class="table">
  @await Html.PartialAsync("../Article/_TableFormDetailsThead.cshtml")

  @foreach (var item in Model.Articles)
  {
    @await Html.PartialAsync("../Article/_TableFormDetailsTbody.cshtml",
      item)
  }
</table>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
