@using Videotheque.Data

@{
  Film item = (Film) ViewData["field"];
}

<td>
  @Html.DisplayFor(modelItem => item.Title)
</td>
<td>
  @Html.DisplayFor(modelItem => item.Price)
</td>
<td>
  @Html.DisplayFor(modelItem => item.ReleaseDate)
</td>

<td>
  @item.CountBorrowing()
</td>

<td>
  @Html.DisplayFor(modelItem => item.DirectedBy)
</td>
<td>
  @Html.DisplayFor(modelItem => item.GenreStyle)
</td>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
