@page "{handler?}"
@using Videotheque.Data
@model Videotheque.Pages.FilmPage.ShowAll

@{
  Layout = "../Layout/_ShowAll.cshtml";
  ViewData["Title"] = "Film Create";
  ViewData["h1"] = "List of films";
}

@section Search {
@if (HttpContext.Request.Path.ToString().EndsWith("Search",
  System.StringComparison.InvariantCultureIgnoreCase))
{
  <a class="btn" asp-page="/Film/ShowAll">
    Come back to list of all Films
  </a>
}

<form id="film-show-all-search-section" method="GET">

  <div>

    <label for="TopN">
      Top N
    </label>
    <input id="TopN" type="number" name="TopN"
        value="@Model.TopN" placeholder="let empty for infinite"/>

    <label for="SearchByTitle">
      Search by title
    </label>
    <input id="SearchByTitle" type="text" name="SearchByTitle"
        value="@Model.SearchByTitle" />

    <label for="SearchByDirectedBy">
      Search by Directed By
    </label>
    <input id="SearchByDirectedBy" type="text" name="SearchByDirectedBy"
        value="@Model.SearchByDirectedBy" />

    <label for="SearchByStyle">
      Search by style
    </label>
    <select asp-for="@Model.SearchByStyle" class="form-control"
        asp-items="Html.GetEnumSelectList<GenreStyleEnum>()" >
      <option value="">
      ——  Please select one ——
      </option>
    </select>

    <label for="SearchReleaseAfter">
      Search release after
    </label>
    <input type="date" id="SearchReleaseAfter" name="SearchReleaseAfter"
        value="@Model.SearchReleaseAfter"/>

    <label for="SearchReleaseBefore">
      Search release before
    </label>
    <input type="date" id="SearchReleaseBefore" name="SearchReleaseBefore"
        value="@Model.SearchReleaseBefore" />

  </div>

  <input type="submit"
         value="Search"
         class="btn" asp-page-handler="Search" />
</form>
}

@section Thead {
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Title)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Price)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].ReleaseDate)
  </th>

  <th>
    Count borrowing
  </th>

  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].DirectedBy)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].GenreStyle)
  </th>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
