@using Videotheque.Data
@model Customer

<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.Firstname)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.Firstname)
</dd>
<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.Lastname)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.Lastname)
</dd>
<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.Society)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.Society)
</dd>
<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.Address)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.Address)
</dd>
<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.Phone)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.Phone)
</dd>
<dt class="col-sm-2">
  @Html.DisplayNameFor(model => model.Email)
</dt>
<dd class="col-sm-10">
  @Html.DisplayFor(model => model.Email)
</dd>

<dt>
@Html.DisplayNameFor(model => model.CurrentlyBorrowed)
</dt>
@if (@Context.Request.Path.ToString().Contains("/Details/"))
{
  <dd>
  <table class="table">
    <tr>
      <th>Barcode</th>
      <th>Borrowing Date</th>
      <th>Returning Date</th>
    </tr>

    @foreach (var item in Model.CurrentlyBorrowed)
    {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Barcode)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.BorrowingDate)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ReturnDate)
      </td>
    </tr>
    }
  </table>
  </dd>

}
else
{
<dd>
  Not loaded (could exist).
  See <a asp-page="./Details" asp-route-id="@Model.Id" > Details </a>
</dd>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
