@using Videotheque.Data
@model Customer
@{
  // For the second part of the Form (keep or return articles already borrowed)
  // ======================
  // Following commented doesn't work, I don't know why
  // It complains that CurrentlyBorrowedList isn't instantied in
  // page /Customer/Edit/:id
  // List<Article> CurrentlyBorrowedList;
  // string[] ShouldBeRemovedArray;
  // if (!@Context.Request.Path.ToString().Contains("/Edit/",
  //   System.StringComparison.InvariantCultureIgnoreCase))
  // {
  //   CurrentlyBorrowedList = (List<Article>)
  //       ViewData["CurrentlyBorrowedList"];
  //   ShouldBeRemovedArray =
  //     (string[])ViewData["ShouldBeRemovedArray"];
  // }
  List<Article> CurrentlyBorrowedList = (List<Article>)
      ViewData["CurrentlyBorrowedList"];
  string[] ShouldBeRemovedArray =
    (string[])ViewData["ShouldBeRemovedArray"];

  // For the third part of the Form (perform new borrowing)
  // ======================
  string[] ArticleIdToBorrowArrayInputValue =
    (string[])ViewData["ArticleIdToBorrowArrayInputValue"];
  string[] ArticleIdToBorrowLoanDurationArray =
    (string[])ViewData["ArticleIdToBorrowLoanDurationArray"];
  string[] ValidationMessageArticleIdToBorrowArray =
    (string[])ViewData["ValidationMessageArticleIdToBorrowArray"];
}

<!-- First part of tye form: general Customer info -->
<!-- ================================ -->

<p> At least Firstname and Lastname or Company is required </p>
<div class="form-group">
  <label asp-for="Firstname" class="control-label"></label>
  <input asp-for="Firstname" class="form-control" />
  <span asp-validation-for="Firstname" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Lastname" class="control-label"></label>
  <input asp-for="Lastname" class="form-control" />
  <span asp-validation-for="Lastname" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Company" class="control-label"></label>
  <input asp-for="Company" class="form-control" />
  <span asp-validation-for="Company" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="AddressStreet" class="control-label"></label>
  <input asp-for="AddressStreet" class="form-control" />
  <span asp-validation-for="AddressStreet" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="AddressCity" class="control-label"></label>
  <input asp-for="AddressCity" class="form-control" />
  <span asp-validation-for="AddressCity" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="AddressCountry" class="control-label"></label>
  <input asp-for="AddressCountry" class="form-control" />
  <span asp-validation-for="AddressCountry" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Phone" class="control-label"></label>
  <input asp-for="Phone" class="form-control" />
  <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Email" class="control-label"></label>
  <input asp-for="Email" class="form-control" />
  <span asp-validation-for="Email" class="text-danger"></span>
</div>

<p> The four following input should be null if Company is defined  </p>

<div class="form-group">
  <label asp-for="Birthdate" class="control-label"></label>
  <input asp-for="Birthdate" class="form-control" />
  <span asp-validation-for="Birthdate" class="text-danger"></span>
</div>
<div class="form-group form-check">
  <label class="form-check-label">
    <input class="form-check-input" asp-for="IsUnemployed" />
    @Html.DisplayNameFor(model => model.IsUnemployed)
  </label>
  <span asp-validation-for="IsUnemployed" class="text-danger"></span>
</div>
<div class="form-group form-check">
  <label class="form-check-label">
    <input class="form-check-input" asp-for="IsStudent" />
    @Html.DisplayNameFor(model => model.IsStudent)
  </label>
  <span asp-validation-for="IsStudent" class="text-danger"></span>
</div>
<div class="form-group form-check">
  <label class="form-check-label">
    <input class="form-check-input" asp-for="PeopleWithDisabilities" />
    @Html.DisplayNameFor(model => model.PeopleWithDisabilities)
  </label>
  <span asp-validation-for="PeopleWithDisabilities" class="text-danger"></span>
</div>

<!-- Second part of the Form: we could return articles already borrowed -->
<!-- Only for /Customer/Edit/:id -->
<!-- ================================ -->

@if (@Context.Request.Path.ToString().Contains("/Edit/",
    System.StringComparison.InvariantCultureIgnoreCase))
{
  if (CurrentlyBorrowedList.Any())
  {

    @:<ul>
      <li>Price relative to color of the Film
        (a pastile is pasted on the Article):
        <ul>
          <li>Gray: 1 euro</li>
          <li>Bronze: 2 euros</li>
          <li>Silver 3 euros</li>
          <li>Gold: 4 euros</li>
        </ul>
      </li>
      <li>Price relative to day:
        <ul>
          <li>One day or two days: Film Price X1</li>
          <li>between 3 and 7 days : Film Price X3</li>
          <li>between 8 and  14 days X6</li>
          <li>more than 14 days X10 </li>
        </ul>
      </li>
      <li>Penalty (TODO):
        <ul>
          <li>Disc become damaged: price X5 </li>
          <li>Disc become very damaged: price X7</li>
          <li>Disc become unusable: price X10</li>
          <li>Only box become damaged: price X2</li>
          <li>Only the box become very damaged or unusable: price X2.5</li>
          <li>Article lost: price X10</li>
        </ul>
      </li>
      <li>Discount for the article (combined with other discount)
        <ul>
          <li>Disc borrowed damaged: 20%</li>
          <li>Disc borrowed very damaged: 50%</li>
        </ul>
      </li>
      <li>TVA
        <ul>
          <li>For all: 2%</li>
          <li>For violence or pornographic films: 10%</li>
          <li>See also
            <a href="http://bofip.impots.gouv.fr/bofip/194-PGP.html">
              impots.gouv.fr
            </a>
          </li>
        </ul>
      </li>
      <li>Discount for all articles
        <ul>
          <li>
            Customers underage, with disabilities or umemployed has a custom
            discount of 10 % of all the Articles.
          </li>
          <li>
            All customers can have a custom discount.
          </li>
        </ul>
        .
      </li>
    @:</ul>

    @:<table id="CustomerEditArticlesCurrentlyBorrowed">
    <thead>
      <tr>
        <td>
          Article borrowed <br /> (barcode)
        </td>
        <td>
          Film Id <br />
        </td>
        <td>
          Film title
        </td>
        <td>
          Do you want return it?
        </td>
        <td>
          Should be returned before
        </td>
      </tr>
    </thead>
    @:<tbody>
    int index=0;
    foreach (Article article in CurrentlyBorrowedList)
    {
      bool isSelectFalse = true;
      bool isSelectTrue = false;
      if (ShouldBeRemovedArray != null
          && ShouldBeRemovedArray[index].Equals("true",
            System.StringComparison.InvariantCultureIgnoreCase))
      {
        isSelectFalse = false;
        isSelectTrue = true;
      }
      <tr class="form-group">
        <td>
          <input type="hidden" name="articleIdAlreadyBorrowedArray"
            value="@article.Id" />
          <a asp-page="/Article/Details"
              asp-route-id="@article.Id">
            @article.Id
          </a>
        </td>
        <td>
          <a asp-page="/Film/Details"
              asp-route-id="@article.FilmId">
            @article.FilmId
          </a>
        </td>
        <td>
          @article.Film.Title
        </td>
        <td>
            <div class="grid-container-should-be-removed">
              <label for="shouldBeRemovedArray@(index)True">Keep</label>
              <label for="shouldBeRemovedArray@(index)False">Return</label>
              <input id="shouldBeRemovedArray@(index)True" type="radio"
                value="false" name="shouldBeRemovedArray@(index)"
                checked="@isSelectFalse" />
              <input id="shouldBeRemovedArray@(index)False" type="radio"
                value="true" name="shouldBeRemovedArray@(index)"
                checked="@isSelectTrue" />
            </div>
        </td>
        <td> @article.ReturnDate?.ToShortDateString() </td>
      </tr>
      index++;
    }
    @:</tbody>
    @:</table>
    <label for="customDiscount">
      Custom discount for all Articles in %
      (not cummulable with discount for customers
      underage, with disabilities or umemployed.)
    </label>
    int customDiscountValue = 0;
    if (Model.IsUnderage()
        || Model.IsUnemployed
        || Model.IsStudent
        || Model.PeopleWithDisabilities)
    {
      customDiscountValue = 25;
    }
    <input id="customDiscount" type="number" min="0" max="99"
      value="@customDiscountValue" name="customDiscount" required />
  }
  else
  {
    <p>No articles currently borrowed</p>
  }
}

<!-- Third part of the Form: make four new borrowing -->
<!-- ================================ -->

<table class="table-no-width">
<thead>
  <tr>
    <td>
      Article borrowed <br /> (barcode)
    </td>
    <td>
      Loan duration (just for information)
    </td>
  </tr>
</thead>
<tbody>
@for (int index=0 ;
      index < Create.NumberInputArticleToBorrow ;
      index++)
{
  int loanDuration;
  @if (ArticleIdToBorrowLoanDurationArray == null)
  {
    loanDuration = 2;
  }
  else
  {
    loanDuration = int.Parse(ArticleIdToBorrowLoanDurationArray[index]);
  }
  <tr class="form-group">
    <td>
      <input type="number" name="articleIdToBorrowArray"
          placeholder="Article Barcode (id)"
          value="@ArticleIdToBorrowArrayInputValue?[index]">
      <div class="text-danger field-validation-error customer-article-message-validation" >
        @Html.Raw(@ValidationMessageArticleIdToBorrowArray?[index])
      </div>
    </td>
    <td>
      <div class="grid-container-article-loan-duration">
        <label for="articleLoanDurationArray@(index)2">  2</label>
        <label for="articleLoanDurationArray@(index)7">  7</label>
        <label for="articleLoanDurationArray@(index)14"> 14</label>
        <input id="articleLoanDurationArray@(index)2" type="radio"
          value="2" name="articleLoanDurationArray@(index)"
          checked="@(loanDuration == 2)" />
        <input id="articleLoanDurationArray@(index)7" type="radio"
          value="7" name="articleLoanDurationArray@(index)"
          checked="@(loanDuration == 7)" />
        <input id="articleLoanDurationArray@(index)14" type="radio"
          value="14" name="articleLoanDurationArray@(index)"
          checked="@(loanDuration == 14)" />
      </div>
    </td>
  </tr>
}
</tbody>
</table>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
