@using Videotheque.Data
@model Customer

@{
  List<Article> CurrentlyBorrowedList = (List<Article>)
      ViewData["CurrentlyBorrowedList"];
  string[] ShouldBeRemovedArray =
    (string[])ViewData["ShouldBeRemovedArray"];
  double CustomDiscount = (double)((int)ViewData["CustomDiscount"]);
}

<table id="invoice" class="no-style">
  <tbody class="no-style">
    <tr class="no-style">
      <td class="no-style">
<main>
  <h1> Facture </h1>
  <hr />
  <div id="addresses">
    <span id="store-address" >
      NeoVim Videotheque <br />
      1 place de la République <br />
      38000 Grenoble <br />
      04 76 45 67 89 <br />
      www.neovim.io <br />
      neovim@neovim.fr <br />
    </span>
    <span id="customer-address" >
      @if (!String.IsNullOrWhiteSpace(Model.Lastname))
      {
      @Model.Firstname @Html.Raw(" ") @Model.Lastname <br />
      }
      @if (!String.IsNullOrWhiteSpace(Model.Company))
      {
        @Model.Company <br />
      }
      @Model.AddressStreet <br />
      @Model.AddressCity <br />
      @if (!String.IsNullOrWhiteSpace(Model.AddressCity))
      {
        @Model.AddressCountry <br />
      }
    </span>
  </div>

  <br />

  <div>
    <strong> Facture n°:
      @(DateTime.Today.Year)@(DateTime.Today.Month)@(DateTime.Today.Day)@(DateTime.UtcNow.Hour)@(DateTime.UtcNow.Minute)@(DateTime.UtcNow.Second)
    </strong>
    <span class="date">Grenoble, le @DateTime.Now.ToString("dddd dd MMMM yyyy",
      new System.Globalization.CultureInfo("fr-FR"))</span>
  </div>

  <table id="detail-price">
    <thead>
      <tr>
        <th scope="col">
          Film loués
        </th>
        <th scope="col">
          Remise
        </th>
        <th>
          TVA
        </th>
        <th scope="col">
          Prix hors-taxe
        </th>
        <th scope="col">
          Prix TTC
        </th>
      </tr>
    </thead>
    <tbody>
      @{
        double articlePriceHT;
        double priceHT = 0;
        double priceTTC = 0;
      }
        @for (int index = 0;
            index < CurrentlyBorrowedList.Count;
            index++)
        {
          if (bool.Parse(ShouldBeRemovedArray[index]))
          {
            Article article = CurrentlyBorrowedList[index];
            double tva = 2;
            int priceLoanDuration;
            // TODO: test null
            int articleLoanDuration =
              (int)(DateTime.Today - article.BorrowingDate)?.TotalDays;
            string dayPack;
            if (articleLoanDuration >= 0 && articleLoanDuration <= 2)
            {
              priceLoanDuration = 1;
              dayPack="2";
            }
            else if (articleLoanDuration >= 3 && articleLoanDuration <= 7)
            {
              priceLoanDuration = 3;
              dayPack="7";
            }
            else if (articleLoanDuration >= 8 && articleLoanDuration <= 14)
            {
              priceLoanDuration = 6;
              dayPack="14";
            }
            else
            {
              priceLoanDuration = 10;
              dayPack="+15";
            }

            if (article.Film.GenreStyle == GenreStyleEnum.Pornographic)
            {
              tva = 10;
            }
            double discount = CustomDiscount;
            if (article.Disc == Conservation.Damaged)
            {
              discount += 20;
            }
            else if (article.Disc == Conservation.VeryDamaged)
            {
              discount += 50;
            }
            @:<tr>
              <td>
                Code-barre: @article.Id Titre: @article.Film.Title
                @if (article.IsLost)
                {
                  @:(perdu)
                }
                else
                {
                  @:(pack @dayPack jours)
                }
              </td>
              <td> @discount % </td>
              <td> @tva </td>
              <td>
                @{
                  if (article.IsLost)
                  {
                    articlePriceHT = ((int)article.Film.Price + 1) * 10;
                  }
                  else
                  {
                    articlePriceHT = (((int)article.Film.Price + 1) + 1)
                      * priceLoanDuration;
                    articlePriceHT -= @discount / 100 * articlePriceHT;
                    priceHT += articlePriceHT;
                  }
                }
                @System.Math.Round(articlePriceHT, 2)
              </td>
              <td>
                @{
                  double articlePriceTTC = articlePriceHT
                    + (tva / 100 * articlePriceHT);
                  priceTTC += articlePriceTTC;
                }
                @System.Math.Round(articlePriceTTC, 2)
              </td>
          @:</tr>
          }
        }
    </tbody>
  </table>

  <table id="total-price">
    <colgroup>
      <col span="1" class="thead" />
      <col span="1" />
    </colgroup>
    <tr>
      <th scope="row">Total hors-taxe</th>
      <td>@System.Math.Round(priceHT,2) euros</td>
    </tr>
    <tr>
      <th scope="row">Total TTC en euro</th>
      <td>@System.Math.Round(priceTTC, 2) euros</td>
    </tr>
  </table>

  <p id="payement-condition" class="clear">
    Tarification forfaitaire en fonction de la pastille présente sur
      l'article.  <br />
    <br />
    Nota: Les articles sont payables au comptant, au retour du produit. <br />
    En cas de contestation, le Tribunal de Grenoble est seul compétent <br />
      En cas de retard de paiment, une pénalité égale à 3 fois le taux d'intérêt
      légal, sera facturé (loi 92-1442 du 31/12/1992) ainsi qu'une somme
      forfaitaire de 40 euros pour frais de recouvrement (décret du
      2012-115 du 02/10/2012) <br />
    Les produits loués restent la propriété de la société
      NeoVim Videothèque.  <br />
    Paiement par chèque non accepté. <br />
  </p>

  <p id="lorem-ipsum">
    <em>Lorem Ipsum only to show that when we print, footer are correctly positionned
      at bottom of the page: </em><br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.  Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
  </p>

</main>
      </td>
    </tr>
  </tbody>
  <tfoot class="no-style">
    <tr class="no-style">
      <td class="tfoot-empty">
        &nbsp;
      </td>
    </tr>
  </tfoot>
</table>

<footer>
  <span>
    NeVim Vidéothèque Sarl au capital de 16 000 euros. Siège social:
      1 place de la République – 38 000 Grenoble <br />
    N° Siret 123 456 689 123 45 – N.A.F. 1234A — N° TFA: FR 12 345 678 912
  </span>
</footer>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
