<!DOCTYPE html>
<!-- Inspired from https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.1&tabs=netcore-cli -->
<html>
  <head>
    <title>Razor Pages Sample</title>
  </head>
  <body>
    <!-- <a asp&#45;page="/Index">Home</a> -->
    @RenderBody()

    <br />
    @Context.Request.Host
    <br />
    @Context.Request.Path

    <br />
    @if (@Context.Request.Path.Equals("/Customer/Create"))
    {
      <span>From "Customer/Create.cshtml.cs": </span>
      @Model.CurrentRoute
      <br />
    }
    else {
      <a asp-page="./Create">Create</a>
    }
  </body>
</html>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
