@page "{handler?}"
@model Videotheque.Pages.CustomerPage.ShowAll

@{
  Layout = "../Layout/_ShowAll.cshtml";
  ViewData["Title"] = "Customer Create";
  ViewData["h1"] = "List of customers";
}

@section Search {
  @if (HttpContext.Request.Path.ToString().EndsWith("CurrentBorrower",
    System.StringComparison.InvariantCultureIgnoreCase))
  {
    <h2>
      Customer that currently borrow a film
      (order by count of articles borrowed)
    </h2>
    <a asp-page="/Customer/ShowAll">
      Come back to list of all Films
    </a>
  }
  else
  {
    <form method="GET">
      <input type="submit"
        value="Show only Customers that currently borrow a film
          (order by count of articles borrowed)."
        class="btn btn-danger" asp-page-handler="CurrentBorrower" />
    </form>
  }
}

@section Thead {
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Firstname)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Lastname)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Society)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].AddressStreet)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].AddressCity)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].AddressCountry)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Phone)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Email)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Birthdate)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].IsUnemployed)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].IsStudent)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].PeopleWithDisabilities)
  </th>

  <th>
    Articles
  </th>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
