@page
@model Videotheque.Pages.CustomerPage.ShowAll

@{
  Layout = "../Layout/_ShowAll.cshtml";
    ViewData["Title"] = "Customers";

}

@section h1 {
  <span>
    Customers
    <a asp-page="Create">Create New</a>
  </span>
}

@section Thead {
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Firstname)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Lastname)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Society)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Address)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Phone)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Email)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].CreatedDate)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].UpdatedDate)
  </th>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
